.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__btn {
    margin: 10px;
}
