.footer{
    font-size: .5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}
