@media screen and (max-width: 700px) {
    .encryptor__input {
        height: 16rem;
    }
    .encryptor__btn-wrapper {
        width: 100%;
    }
    .encryptor__btn {
        width: 42%;
    }
}

@media screen and (max-width: 500px) {
    .encryptor__input {
        height: 18rem;
    }
}

@media screen and (max-width: 400px) {
    .encryptor {
        margin-bottom: auto;
    }

    .encryptor__input {
        height: 20rem;
    }

    .btn.encryptor__btn {
        width: 80%;
        transition: border-color 100ms;
    }
    .btn.encryptor__btn:hover{
        transform: translateY(0);
        border-color: #eee;
        border-width: 3px;
    }
}

