@media screen and (max-width: 700px) {
    .encryptor__input {
        height: 16rem;
    }
    .encryptor__btn-wrapper {
        width: 100%;
    }
    .encryptor__btn {
        width: 42%;
    }
}

@media screen and (max-width: 400px) {
    .header {
        margin-bottom: 0;
    }

    .encryptor {
        margin-bottom: auto;
    }
    .encryptor__notification {
        min-height: 26px;
        font-size: 18px;
        margin: 12px 1rem 16px 1rem;
        color: transparent;
    }

    .btn.encryptor__btn {
        width: 80%;
        transition: border-color 100ms;
    }
    .btn.encryptor__btn:hover{
        transform: translateY(0);
        border-color: #eee;
        border-width: 3px;
    }
}

