@import './css/header.css';
@import './css/encryptor.css';
@import './css/footer.css';
@import './css/queries.css';

@font-face {
    font-family: roboto-mono;
    src: url('./assets/font/RobotoMono-Regular.ttf');
}

:root {
    --border-radius: 5px;
    --accent-color: #00afb2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: roboto-mono, 'Courier New', monospace;
}
*:focus {
    outline: none;
}

html {
    font-size: 20px;
}

body {
    background: url('./assets/img/background.jpg'), no-repeat;
    background-size: cover;
}

.container {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background: radial-gradient(var(--accent-color) -90%, #000e);
    color: #fff;
}

.button {
    font-weight: bold;
    padding: .5em 1.5em;

    border: none;
    border-bottom: 3px solid var(--accent-color);
    border-radius: var(--border-radius);
    cursor: pointer;

    background-color: #000;
    color: #fff;
    transition: transform 150ms;
}
.button:hover {
    transform: translateY(2px);
    border-bottom-width: 1px;
}

.link {
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    border-radius: var(--border-radius);
    transition: background-color 150ms;
}
.link:hover  {
    background-color: #fff4;
}

.icon {
    width: 1rem;
}

